/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* imports */
/* includes */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_html5\.scss}line{font-family:\000033}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_html5\.scss}line{font-family:\0000318}}
audio,
canvas,
video {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_html5\.scss}line{font-family:\0000326}}
audio:not([controls]) {
  display: none;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_html5\.scss}line{font-family:\0000332}}
[hidden] {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_base\.scss}line{font-family:\000032}}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_base\.scss}line{font-family:\0000312}}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_base\.scss}line{font-family:\0000321}}
body {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_links\.scss}line{font-family:\000034}}
a:focus {
  outline: thin dotted;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_links\.scss}line{font-family:\000039}}
a:hover, a:active {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_typography\.scss}line{font-family:\000033}}
h1 {
  font-size: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_typography\.scss}line{font-family:\000038}}
abbr[title] {
  border-bottom: 1px dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_typography\.scss}line{font-family:\0000313}}
b,
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_typography\.scss}line{font-family:\0000319}}
dfn {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_typography\.scss}line{font-family:\0000324}}
mark {
  background: #ff0;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_typography\.scss}line{font-family:\0000330}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_typography\.scss}line{font-family:\0000339}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_typography\.scss}line{font-family:\0000346}}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_typography\.scss}line{font-family:\0000351}}
small {
  font-size: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_typography\.scss}line{font-family:\0000357}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_typography\.scss}line{font-family:\0000365}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_typography\.scss}line{font-family:\0000369}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_embedded\.scss}line{font-family:\000032}}
img {
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_embedded\.scss}line{font-family:\000038}}
svg:not(:root) {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_figures\.scss}line{font-family:\000033}}
figure {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_forms\.scss}line{font-family:\000033}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_forms\.scss}line{font-family:\000039}}
legend {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_forms\.scss}line{font-family:\0000316}}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_forms\.scss}line{font-family:\0000330}}
button,
input {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_forms\.scss}line{font-family:\0000341}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_forms\.scss}line{font-family:\0000352}}
button[disabled],
input[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_forms\.scss}line{font-family:\0000357}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_forms\.scss}line{font-family:\0000366}}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_forms\.scss}line{font-family:\0000377}}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_forms\.scss}line{font-family:\0000383}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_forms\.scss}line{font-family:\0000389}}
textarea {
  overflow: auto;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chrisboyle\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-normalize-plugin-0\.4\.0\/scss\/normalize\/_tables\.scss}line{font-family:\000033}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "mission-scriptregular";
  src: url('../fonts/mission-script-webfont.ttf') format('truetype'), url('../fonts/mission-script-webfont.woff') format('woff'), url('../fonts/mission-script-webfont.svg') format('svg'), url('../fonts/mission-script-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "OpenSansCondensedLight";
  src: url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'), url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'), url('../fonts/OpenSans-CondLight-webfont.svg') format('svg'), url('../fonts/OpenSans-CondLight-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "OpenSansCondensedBold";
  src: url('../fonts/OpenSans-CondBold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-CondBold-webfont.woff') format('woff'), url('../fonts/OpenSans-CondBold-webfont.svg') format('svg'), url('../fonts/OpenSans-CondBold-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "wisdom_script_airegular";
  src: url('../fonts/wisdom_script-webfont.ttf') format('truetype'), url('../fonts/wisdom_script-webfont.woff') format('woff'), url('../fonts/wisdom_script-webfont.svg') format('svg'), url('../fonts/wisdom_script-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "CubanoRegular";
  src: url('../fonts/cubano-regular-webfont.ttf') format('truetype'), url('../fonts/cubano-regular-webfont.woff') format('woff'), url('../fonts/wcubano-regular-webfont.svg') format('svg'), url('../fonts/cubano-regular-webfont.eot') format('embedded-opentype');
}

/* Structure */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\0000330}}
body {
  font-size: 100%;
  line-height: 1.6875;
  background-color: #1a1e23;
  color: #ff6b6b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\0000337}}
.wrap {
  width: 70%;
  margin: 0 auto;
}

/* Typography */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\0000345}}
a {
  color: #ff6b6b;
  background: #1a1e23;
  text-decoration: none;
  padding: 8px 8px 0 8px;
  border-radius: 4px;
  border: 2px solid #ff6b6b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\0000354}}
a.addy {
  padding: 8px 8px 0px 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\0000358}}
a:hover {
  color: #1a1e23;
  background: #ff6b6b;
  padding: 8px 8px 0 8px;
  border-radius: 4px;
  border: 2px solid #ff6b6b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\0000366}}
a.addy:hover {
  padding: 8px 8px 0 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\0000370}}
h1 {
  font-family: 'CubanoRegular';
  font-size: 2.61em;
  line-height: 1.2em;
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\0000377}}
p, span {
  font-size: 2em;
  font-family: "OpenSansCondensedLight";
  margin: 1.68em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\0000383}}
span {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\0000387}}
.rsvp {
  border-top: 2px solid #ff6b6b;
  text-align: center;
  color: #ff6b6b;
  padding: 3em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\0000394}}
#typeform {
  font-size: 2em;
  font-family: "OpenSansCondensedLight";
  padding: 20px 10px 10px 10px;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  float: none;
  color: #ff6b6b;
  background: #1a1e23;
  text-align: center;
  border: 2px solid #ff6b6b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\00003109}}
#typeform:hover {
  background: #ff6b6b;
  color: #1a1e23;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\00003118}}
.section_exit,
.section_signature {
  color: #ff6b6b;
  position: relative;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\00003125}}
.section_exit {
  font-family: "OpenSansCondensedLight";
  margin: .5em 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\00003130}}
.section_signature {
  padding: 0 0 1em;
  font-family: "wisdom_script_airegular";
}

/* Media queries */
@media only screen and (min-width: 1100px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\00003138}}
  body {
    font-size: 120%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\00003139}}
  .wrap {
    max-width: 770px;
  }
}
@media only screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\00003143}}
  body {
    font-size: 100%;
  }
}
@media only screen and (max-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\00003147}}
  body {
    font-size: 90%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\00003148}}
  h1 {
    font-size: 3em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/wedding-site-v5\/sass\/screen\.scss}line{font-family:\00003149}}
  .wrap {
    width: 90%;
  }
}
