/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* imports */
/* includes */
* { 
	box-sizing: border-box 
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
}

b,
strong {
  font-weight: bold;
}

img {
  border: 0;
}

@font-face {
  font-family: "mission-scriptregular";
  src: url('../fonts/mission-script-webfont.ttf') format('truetype'), url('../fonts/mission-script-webfont.woff') format('woff'), url('../fonts/mission-script-webfont.svg') format('svg'), url('../fonts/mission-script-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "OpenSansCondensedLight";
  src: url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'), url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'), url('../fonts/OpenSans-CondLight-webfont.svg') format('svg'), url('../fonts/OpenSans-CondLight-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "OpenSansCondensedBold";
  src: url('../fonts/OpenSans-CondBold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-CondBold-webfont.woff') format('woff'), url('../fonts/OpenSans-CondBold-webfont.svg') format('svg'), url('../fonts/OpenSans-CondBold-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "wisdom_script_airegular";
  src: url('../fonts/wisdom_script-webfont.ttf') format('truetype'), url('../fonts/wisdom_script-webfont.woff') format('woff'), url('../fonts/wisdom_script-webfont.svg') format('svg'), url('../fonts/wisdom_script-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "CubanoRegular";
  src: url('../fonts/cubano-regular-webfont.ttf') format('truetype'), url('../fonts/cubano-regular-webfont.woff') format('woff'), url('../fonts/wcubano-regular-webfont.svg') format('svg'), url('../fonts/cubano-regular-webfont.eot') format('embedded-opentype');
}

/* Structure */
body {
  font-size: 100%;
  line-height: 1.6875;
  background-color: #1a1e23;
  color: #ff6b6b;
}

.wrap {
  width: 70%;
  margin: 0 auto;
}

/* Typography */
a {
  color: #ff6b6b;
  background: #1a1e23;
  text-decoration: none;
  padding: 8px 8px 0 8px;
  border-radius: 4px;
  border: 2px solid #ff6b6b;
}

a.addy {
  padding: 8px 8px 0px 4px;
}

a:hover {
  color: #1a1e23;
  background: #ff6b6b;
  padding: 8px 8px 0 8px;
  border-radius: 4px;
  border: 2px solid #ff6b6b;
}

a.addy:hover {
  padding: 8px 8px 0 4px;
}

h1 {
  font-family: 'CubanoRegular';
  font-size: 2.61em;
  line-height: 1.2em;
  margin: 1em 0;
}

p, span {
  font-size: 2em;
  font-family: "OpenSansCondensedLight";
  margin: 1.68em 0;
}

span {
  margin: 0;
}

.rsvp {
  border-top: 2px solid #ff6b6b;
  text-align: center;
  color: #ff6b6b;
  padding: 3em 0;
}

#typeform {
  font-size: 2em;
  font-family: "OpenSansCondensedLight";
  padding: 20px 10px 10px 10px;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  float: none;
  color: #ff6b6b;
  background: #1a1e23;
  text-align: center;
  border: 2px solid #ff6b6b;
}

#typeform:hover {
  background: #ff6b6b;
  color: #1a1e23;
}

.section_exit,
.section_signature {
  color: #ff6b6b;
  position: relative;
  display: block;
}

.section_exit {
  font-family: "OpenSansCondensedLight";
  margin: .5em 0 0;
}

.section_signature {
  padding: 0 0 1em;
  font-family: "wisdom_script_airegular";
}

iframe {
	max-width: 100%;
	height: 100%;
	min-height: 300px;
	max-width: 288px;
}

.vine ul {
	padding: 0;
}

.vine ul li {
	list-style: none;
	padding: 0 0 20px;
	margin: 0 0 30px;
	border-bottom: 1px dotted #ff6b6b;
}

.vine ul li:last-child {
	border: none;
}

/* Media queries */
@media only screen and (min-width: 1100px) {
  body {
    font-size: 120%;
  }

  .wrap {
    max-width: 770px;
  }

  .wrap.vine {
	max-width: 600px;
  }
}
@media only screen and (max-width: 800px) {
  body {
    font-size: 100%;
  }
}
@media only screen and (max-width: 400px) {
  body {
    font-size: 90%;
  }

  h1 {
    font-size: 3em;
  }

  .wrap {
    width: 90%;
  }
}
